.container {
  padding: 20px;
  text-align: center;
}
#date-input {
  height: 30px;
  width: 350px;
}
#display-content {
  text-align: center;
}
.display-btn {
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
  height: 32px;
}
p {
  font-weight: bold;
}
